version: "3"
services:
  tunnel-mediator:
    image: agent-tunnel
    build: agent-tunnel
    command: agent-mediator:3004 -p 4040
  agent-mediator:
    image: acapy-toolbox-tunnel
    build:
      context: ../
      dockerfile: ./demo/Dockerfile.demo
    environment:
      TUNNEL_HOST: tunnel-mediator
      TUNNEL_PORT: 4040
    ports:
      - "3005:3005"
    command: poetry run aca-py start --arg-file ./configs/mediator.yml
